<div class="game-grid">
    <% games.forEach((game) => { %>
        <div class="game-card">
            <img src="<%= game.image_path %>" alt="<%= game.game_name %>">
            <h3><%= game.game_name %></h3>
            <p><%= game.game_description %></p>
            <a href="/category/edit/<%= game.game_id %>">Edit</a>
            <!-- Delete -->
            <form id="deleteForm" action="/category/delete/<%= game.game_id %>" method="post">
                <input type="hidden" name="_method" value="delete"> </input>
                <button type="submit" onclick="return confirm('Are you sure you want to delete <%= game.game_name %>?')">Delete</button>
            </form>

        </div>
    <% }); %>
</div>